<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="QuimadhEntities" connectionString="metadata=res://*/ModeloEntidades.csdl|res://*/ModeloEntidades.ssdl|res://*/ModeloEntidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Quimadh;persist security info=True;user id=comparto;password=4561583;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />-->
    <add name="QuimadhEntities" connectionString="metadata=res://*/ModeloEntidades.csdl|res://*/ModeloEntidades.ssdl|res://*/ModeloEntidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mariano-HP\SQLEXPRESS;initial catalog=Quimadh;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Desktop.Properties.Settings.QuimadhConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=Quimadh;Persist Security Info=True;User ID=comparto;Password=4561583"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioCAE" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52944/ServicioCAE.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IServicioCAE" contract="FEAfip.IServicioCAE"
          name="BasicHttpBinding_IServicioCAE" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="InstanciaBD" value="MSSQL$SQLEXPRESS" />

    <add key="Email" value="noreply@quimadh.com.ar" />
    <add key="EmailCco" value="" />
    <add key="Pass" value="" />
    <add key="Host" value="" />
    <add key="Port" value="25" />
    <add key="UseSSL" value="false" />

  </appSettings>
</configuration>